[Desktop Entry]
Name=Mathpix Snipping Tool
Exec='/home/jordan/Downloads/Mathpix_Snipping_Tool-x86_64.v03.00.0104.AppImage'
Type=Application
Version=03.00.0104